
#menu{
    display: none;
}

.menu-btn{
    cursor: pointer;
    font-size: 25px;
    margin-right: 10px;
}

.menu-toggle{
    display: none;
}

#menu:checked + .menu-toggle {
    display: block;
}


nav{
    background-color: #0f0f0f;
    padding: 10px;
    margin: none;
}
nav a{
    
   display: block;
    padding: 15px 20px;
    color: #ccc;
    background-color: #0f0f0f;
    text-decoration: none;
     text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
nav a:visited{
    color: white;
}
nav a:hover{
    background-color: #1a1a1a;
    color: green;
}

.title1{
text-align: center;
color: #ccc;
    font-family: "Pixelify Sans", sans-serif;

}

p{
    margin: 5px;
    padding: 5px;
}

img{
    border-radius: 5px;
   
}

body{
    background-color: #0f0f0fee;
    margin: 0;
    padding: 0;
    color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

hr{
    border: none;
    height: 2px;
    background-color: white; /* o el color que quieras */
    width: 80%; /* opcional */
    margin: 20px auto; /* centra y separa */
}

header{
    font-family: "Pixelify Sans", sans-serif;
    background-color: rgba(56, 52, 52, 0.315);
    box-shadow: 0px 5px 5px;
   color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: none;
    padding: 2px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


nav ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

nav li{

    margin: 0;
    border-bottom: 1px solid #2a2a2a;
}